<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Learn Vuejs for Free</title>
    <meta name="description" content="Learning Vue.js for free from the Scrimba tutorials." />

    <link rel="stylesheet" href="../node_modules/minireset.css/minireset.css" />
    <link rel="stylesheet" href="styles/debug.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" />
  </head>

  <body>
    <div id="app">
      <template v-if="false">
        <p v-if="wizard === harry" v-html="wizard + ' ' + hedwig"></p>
        <p v-if="wizard === ron" v-html="wizard + ' ' + scabbers"></p>
        <p v-if="wizard === hermione" v-html="wizard + ' ' + crookshanks"></p>
      </template>
      <template v-if="true">
        <p v-for="wizard in wizards()" v-html="wizard.name + ' ' + wizard.pet"></p>
      </template>
    </div>

    <script src="scripts/control-flow.js"></script>
  </body>
</html>
