:root {
  font: 1rem/1.175 'BlinkMacSystemFont', -apple-system, 'Roboto', sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-weight: 900;
  font-size: 8rem;
  color: hsl(0, 0%, 100%);
  background: hsl(240, 100%, 67%);
  user-select: none;
}

img {
  width: 8rem;
  height: 8rem;
  vertical-align: calc(-0.12109375em);
}

.breathe--man {
  animation: breathe 4s infinite;
}
.breathe--dog {
  animation: breathe 0.5s infinite;
}

@keyframes breathe {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.95);
  }
}
